body {
    /* background-image: radial-gradient(circle, #121220, #31314d); */
    background-image: url('../background.jpg');
    background-position: center;
    background-size: auto;
    font-family: sans-serif;
}

h1 {
    color: white;
}

.orbit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tag {
    background-color: #121220;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.navigation {
    display: flex;
}

.card {
    background-color: #f3f3f3;
    padding: 40px;
    margin: 20px;
    flex-grow: 1;
    width: 25%;
    max-height: 500px;
}

.card-content {
    overflow: scroll;
}

.card-author {
    text-align: right;
}

.river {
    max-width: 80%;
    margin: auto;
}

.river .card {
    width: 100%;
}

.card-title {
    font-size: 2em;
    font-weight: bold;
}

.invis-card {
    visibility: hidden;
}

.card-l {
    left: 0;
    width: 25%;
    margin: 5%;
    position: absolute;
    background-color: #d0d0d0;
}

.card-c {
    position: absolute;
    left: 30%;
    width: 25%;
    margin: 5%;
}

.card-r {
    position: absolute;
    left: 60%;
    width: 25%;
    margin: 5%;
    background-color: #d0d0d0;
}

#test {
    display: inline-block;
    height: 300px;
    background-color: white;
    position: absolute;
}

.navbar {
    justify-content: left;
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.search-custom {
    margin: 20px;
}

.navbar-brand {
    color: white !important;
    font-size: 40px;
}

input {
    padding: 5px;
    margin: 5px;
}

.btn-label {
    position: relative;
    display: inline-block;
    padding: 6px 7px;
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.direction-btn {
    background-color: white;
    margin: 10px;
    height: 20%;
    align-self: center;
}

.search-btn:hover {
    background-color: white;
    color: black;
}