body {
    background-image: radial-gradient(circle, #121220, #31314d);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    color: white;
}

.orbit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tag {
    background-color: #121220;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.navigation {
    display: flex;
}

.card {
    background-color: #f3f3f3;
    padding: 40px;
    margin: 20px;
    flex-grow: 1;
}

.river {
    max-width: 80%;
    margin: auto;
}

.card-title {
    font-size: 2em;
    font-weight: bold;
}

.invis-card {
    visibility: hidden;
}

.card-l {
    left: 0;
    width: 25%;
    margin: 5%;
    position: absolute;
    background-color: #d0d0d0;
}

.card-c {
    position: absolute;
    left: 30%;
    width: 25%;
    margin: 5%;
}

.card-r {
    position: absolute;
    left: 60%;
    width: 25%;
    margin: 5%;
    background-color: #d0d0d0;
}

#test {
    display: inline-block;
    height: 300px;
    background-color: white;
    position: absolute;
}